.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ecf0f1;
    padding: 2rem;
  }
  
  .home-content h1 {
    font-size: 3rem;
    color: #2c3e50;
  }
  
  .home-content p {
    font-size: 1.5rem;
    color: #34495e;
  }